<%= form_for @form do |f| %>
		<%= f.label :name %>
		<%= f.text_field :myname%> <br />
		<%= f.label :Surname %>
		<%= f.text_field :surname%> <br />
		<%= f.label :"Birth Date"%>
 		<%= f.date_field :birth_date%> <br />
		<%= f.label :"Location(City, State)"%>
 		<%= f.text_field :location%> <br />
		<%= f.label :Gender%>
 		<%= f.select :gender, ["Male", "Female", "I don't know yet"]%> <br />
		<%= f.label :Email%>
 		<%= f.email_field :email%> <br />
		<%= f.label :Password%>
 		<%= f.password_field :password%> <br />
		
		<h2>Insert Surfer details</h2>
		<%= f.label :"Nick Name" %>
		<%= f.text_field :nickname%> <br />
		<%= f.label :"Home Spot" %>
		<%= f.text_field :home_spot%> <br />
		<%= f.label :"Style"%>
 		<%= f.select :style, ["ClassicShortBoarder", "NewSchoolHighPerformance", "LongBoarder", "OldStyler", "BodyBoarder"] %> <br />
		<%= f.label :"Goofy or Regular"%>
 		<%= f.select :goofy_regular, ["Goofy", "Regular"]%> <br />
		<%= f.label :"Best trick"%>
		<%= f.select :best_trick, ["Barrel", "Cutback", "Floaters", "Roundhouse", "Carving 360","Snap", "Frontside Air", "Backside Air", "Re-entry", "Layback Snap", "Carving", "Bottom Turn", "Air Reverse", "Backside Air Reverse"]%> <br />
		
	<% if @form.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@form.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
		<% @form.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

  	<div class="actions">
	<%= f.submit "Save User"%>
	</div>
	
	
<% end %>
