<p id="notice"><%= notice %></p>
<h2><%= @user.myname%> details</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
	  <th>Surname</th>
	  <th>"Brith Date"</th>
	  <th>Location</th>
	  <th>Gender</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
      <tr>
		<td><%= @user.myname%></td>
		<td><%= @user.surname%></td>
		<td><%= @user.birth_date%></td>
		<td><%= @user.location%></td>
		<td><%= @user.gender%></td>
		<td><%= @user.email%></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> ||
<%= link_to 'Users List', users_path %>
