<h1>Listing surfers</h1>

<% if @user.surfer == nil %>
   <em> Surfer details are not inserted yet.... </em>
   <%= link_to 'Add Surfer', new_user_surfer_path(@user) %> 
<% else %>
<table>
  <thead>
    <tr>
      <th>Nick Name</th>
      <th>Home Spot</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>	  	
		<td><%= @user.surfer.nickname %></td>
		<td><%= @user.surfer.home_spot %></td>
        <td><%= link_to 'Edit Surfer', edit_user_surfer_path(@user) %></td>
        <td><%= link_to 'Delete', [@user, surfer], :method => :delete, :class => "surfer", :confirm => "Are you sure ?"%>
      </tr>
  </tbody>
</table>
<%= link_to 'Users List', users_path %>
<% end %>



