<h1>Listing surfers</h1>

<table>
  <thead>
    <tr>
      <th>Nick Name</th>
      <th>Home Spot</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surfers.each do |surfer| %>
      <tr>
		<td><%= surfer.nickname %></td>
		<td><%= surfer.home_spot %></td>
        <td><%= link_to 'Show', surfer %></td>
        <td><%= link_to 'Edit', edit_surfer_path(surfer) %></td>
        <td><%= link_to 'Destroy', surfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

	<% if @surfers.empty?%>
		<em> No surfers found </em>
	<% end %>

<br>

<%= link_to 'New Surfer', new_surfer_path %> ||
<%= link_to 'Users List', users_path %>
