<div id="bottomBar">
<ul class="container_24">
		<p>Copyright '10' -- Wave Tracker -- All Rights Reserved</p>
		
	  	<section id="bottomNav">
		<a <%= link_to 'Home', welcomes_path %> </a> 
		<a href="#">About Us</a>
		<a href="#">Surf Spot</a>
		<a href="#">Blog</a>
		<a href="#">Term Of Use</a>
		<a href="#">Privacy</a>
		</section>
	</ul> 

</div>
	<%= stylesheet_link_tag "bottombar" %>
 	<%= stylesheet_link_tag "960_24_col" %>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "text" %>