<div id="footer">
	 <ul class="container_24">
	 <section class="grid_12 alpha">
		   		<h2> WAVE TRACKER </h2>
				<h3> A new way to live your surf life </h3></br>
				<p> Trent from punchy digger bloody gutful of mokkies. Get a dog up ya fair dinkum mate as cross as a flake. 
				Stands out like a bluey flamin stands out like a pot. As stands out like christmas to grab us a ugg boots. 
				She'll be right buckley's chance my as stands out like divvy van. It'll be smokes trent from punchy chewie.</p></br>
	  </section>
		   
	  <section id="facebook" class="grid_12 omega">
				<ul>
					<li class="grid_3 alpha"><img src="images/icons/logo.png" alt="Logo"></li>
					<li class="grid_2"><a href="#"><img src="images/icons/likefb.png" alt="FbLike"></a></li>
					<li class="grid_2 omega"> You like this </li>
				</ul>
			<div id="lastSection">
				<p> You and 120 others like MA surf life </p>
				<img src="images/users.jpg" alt="Users">
			</div>
	   </section>
	</ul>
</div>

<div id="bottomBar">
<ul class="container_24">
		<p>Copyright '10' -- Wave Tracker -- All Rights Reserved</p>
		
	  	<section id="bottomNav">
		<a <%= link_to 'Home', welcomes_path %> </a> 
		<a href="#">About Us</a>
		<a href="#">Surf Spot</a>
		<a href="#">Blog</a>
		<a href="#">Term Of Use</a>
		<a href="#">Privacy</a>
		</section>
	</ul> 

</div>
	<%= stylesheet_link_tag "footer" %>
 	<%= stylesheet_link_tag "960_24_col" %>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "text" %>