<%= stylesheet_link_tag "header" %>
<%= javascript_include_tag "lightbox-form" %>

<header id="header" class="container_24">
		<nav>
		<span class="login">
			 <%= render :partial => 'layouts/login' %> 	  					   
		</span>
		
		<span class="signup">
			 <%= render :partial => 'layouts/signup' %> 	  					   
		</span>

		
			<li> <%= link_to 'Home', welcomes_path %> </li>  
			<li><a href="#" class="aboutUs">About Us</a></li>
			<li><a href="#" class="surfSpot">Surf Spot</a></li>
			<li><a href="#" class="blog">Blog</a></li>
			<li><a href="#" class="contactUs">Contact Us</a></li>
			<li>
            <% if signed_in? %>
                <li id="signout"><%= link_to "SIGN OUT", signout_path, method: "delete" %></li>
            <% else %>
			<section id="login">
		   			 <li><a href="#" onClick="openbox('login')"> LOGIN </a></li>
			   	   	 <li><p> or </p></li>  
		   	   	   	 <li><a href="#" onClick="openbox('signup')"> SIGN UP </a></li>
			</section>
            <% end %>
		</nav>	
</header>