<%= stylesheet_link_tag "login" %>
<%= javascript_include_tag "lightbox-form" %>
<%= form_for(:session, url: sessions_path) do |f|%>

<div id="shadowing_login"></div>

    <div id="box_login">

	     <span id="boxtitle"></span>
	     <li id="close" onClick="closebox('login')"> <a href="#"> x </a> </li>
	     <li id="email_login"><%= f.text_field :email, :placeholder=>"Email" %></li></li>
	     <li id="password"><%= f.password_field :password, :placeholder=>"Password" %></li>
         <li id="remember"><%= f.check_box :remember %> <a href="#">Remember me</a></li>
	     <li id="forgot"><a href="#"> Forgot password </a> </li>
	     <p id="confirm_login">
	     <li><%= f.submit "Login", :class=>'submit_login' %></li>	 
	     <li><p id="or">or</p></li>
	     <p id="facebook"><a href="#"><img src="/images/icons/facebook.png"></a></p>
	     <p id="twitter"><a href="#"><img src="/images/icons/twitter.png"></a></p>
	     </p>
	 		 
    </div>
</div>

<% end %>

