<!DOCTYPE html>
<html>
<head>
  <title>MineAussieSurfLife</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<%= image_tag("aussieSurf.jpg") %>

	<%= yield %>

	</body>
</html>
